<!DOCTYPE html>
<html>
  <head>
    <title>Stupid Coaching</title>
  </head>
<h1>Stupid Coaching<br>

</h1>
<p class="intro"> Welcome to Stupid Coaching. The website that advice you what to do and definitely you should not do it because is highly probably stupid!.</p>
<form action="/ask">
  <input type="text" name="???">
  <input type="submit" value="Answer!">
</form>
